.bg-company{
    background-color:black !important;
}

.body, nav{
    font-family: 'Quicksand', sans-serif;
}

.nav-item{
	margin-left:10px;
}

#nav a{
    font-family: 'Quicksand', sans-serif;
}

figure {
    position: fixed;
    top: 95%;
    left: 70%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}

.contact{
    cursor:pointer;
    position:relative;
    float:right;
    top:350px;
    width: 50px;
    height:120px;
    background-color: white;
    border: solid #838383 2px;
    border-radius: 20px 0 0 20px;
    z-index:2;
    transition: all 0.5s ease-out;
}

.contact:hover{
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.2);
}

.contact p{
    font-size:20px;
    margin:35px 11px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-family: 'Quicksand', sans-serif;
    
}

#social-modal{
    width:100%;
    height:600vh;
    background-color: rgba(0,0,0,0.5);
    position:absolute;
    top:0;
    left:0;
    justify-content: center;
    align-items: center;
    display:none;
}

.social-content{
    width:388px;
    height:271px;
    background-image: url(portfolio/popup.png);
    box-shadow: 3px 3px 16px 0 rgba(114, 108, 108, 0.25);
    position: relative;
    margin:35vh auto;
    background-repeat: no-repeat;
    z-index: 2;
}

.social-content:hover{
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.2);
  
}

.social-links{
    cursor:pointer;
    position:relative;
    width: 100%;
    left:2%;
    top:23%;
}

/* index page css */

.image{
    height:600px;
	background-size:contain;
    background-position:center center;
    background-repeat: no-repeat;
}

.image1{
    background-image: url(portfolio/homepage/1.png);
}

.image2{
    background-image: url(portfolio/homepage/2.png);
    background-size: 211px 73px;
}

.youtube {
    width:100%;
    height:200px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image:url(portfolio/youtube.png);
    display:inline-block;
    padding:0;
}

.instagram{
    width:100%;
    height:200px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image:url(portfolio/instagram.png);
    display:inline-block;
    padding:0;
}

/* graphic page css */

.content{
    display: flex;
    flex-wrap: wrap;
    position:relative;
    top:20px;
}

.graphic{
    cursor: pointer;
    width:285px;
    height:285px;
    margin:45px;
	background-size:contain;
    background-position:center;
    background-repeat: no-repeat;
    float:left;
    padding:0;
    border:solid black 2px;
}

#graphic-modal{
    width:100%;
    height:600vh;
    background-color: rgba(0,0,0,0.5);
    position:absolute;
    top:0;
    left:0;
    justify-content: center;
    align-items: center;
    display:none;
}

.graphic-content{
    width:590px;
    height:590px;
    box-shadow: 3px 3px 16px 0 rgba(114, 108, 108, 0.25);   
    background-repeat: no-repeat;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.graphic-content img{
    width:100%;
    
}

.graphic-content:hover{
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.2);
}



.graphic1{
    background-image:url(portfolio/P1/1.jpg);
}

.graphic2{
    background-image:url(portfolio/P1/2.jpg);
}

.graphic3{
    background-image:url(portfolio/P1/3.jpg);
}

.graphic4{
    background-image:url(portfolio/P1/4.jpg);
}

.graphic5{
    background-image:url(portfolio/P1/5.jpg);
}

.graphic6{
    background-image:url(portfolio/P1/6.jpg);
}

.graphic7{
    background-image:url(portfolio/P1/7.jpg);
}

.graphic8{
    background-image:url(portfolio/P1/8.jpg);
}

.graphic9{
    background-image:url(portfolio/P1/9.jpg);
}

.graphic10{
    background-image:url(portfolio/P1/10.jpg);
}

.graphic11{
    background-image:url(portfolio/P1/11.jpg);
}


/* campaign page css */

.camp{
    width: 285px;
    height:285px;
    margin:45px;
	background-size:cover;
    background-position:75%;
    background-repeat: no-repeat;
    float:left;
    padding:0;
    border:solid black 2px;
}

.camp1{
    background-image: url(portfolio/P2/1.jpg);
}

.camp2{
    background-image: url(portfolio/P2/2.jpg);
    background-position: 55%;
}

.camp3{
    background-image: url(portfolio/P2/3.jpg);
}

.camp4{
    background-image: url(portfolio/P2/4.jpg);
}

.camp5{
    background-image: url(portfolio/P2/5.jpg);
}

.camp6{
    background-image: url(portfolio/P2/6.jpg);
}

.camp7{
    background-image: url(portfolio/P2/7.jpg);
    background-position: 10%;
}

.camp8{
    background-image: url(portfolio/P2/8.jpg);
}

.camp9{
    background-image: url(portfolio/P2/9.jpg);
    background-position: 33%;

}

.camp10{
    background-image: url(portfolio/P2/10.jpg);
}

.camp11{
    background-image: url(portfolio/P2/11.jpg);
    background-position: 16%;

}

.camp12{
    background-image: url(portfolio/P2/12.jpg);
}
.camp13{
    background-image: url(portfolio/P2/13.jpg);
}

.camp14{
    background-image: url(portfolio/P2/14.jpg);
}

.camp15{
    background-image: url(portfolio/P2/15.jpg);
}

.camp16{
    background-image: url(portfolio/P2/16.jpg);
}

.camp17{
    background-image: url(portfolio/P2/17.jpg);
}

.camp18{
    background-image: url(portfolio/P2/18.jpg);
}
.camp19{
    background-image: url(portfolio/P2/19.jpg);
}

.camp20{
    background-image: url(portfolio/P2/20.jpg);
}

.camp21{
    background-image: url(portfolio/P2/21.jpg);
}

.camp22{
    background-image: url(portfolio/P2/22.jpg);
}

.camp23{
    background-image: url(portfolio/P2/23.jpg);
}

.camp24{
    background-image: url(portfolio/P2/24.jpg);
}

#champ-modal{
    width:100%;
    height:600vh;
    background-color: rgba(0,0,0,0.5);
    position:absolute;
    top:0;
    left:0;
    justify-content: center;
    align-items: center;
    display:none;
}

.champ-content{
    width: 80%;
    /* background-image: url(portfolio/popup.png); */
    box-shadow: 3px 3px 16px 0 rgba(114, 108, 108, 0.25);
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    /* overflow: hidden; */
}

#champ-img{
    width:100%;

}

/* portraits collection */

.container h2{
	display: block;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	font-size: 30px;
	line-height: 32px;
	color:black;
	margin: 80px auto;
}

.sub_nav {
	position: relative;
	display: table;
	margin: 0 auto 79px;
	padding: 0 10px 0 0;
    text-align: center;
    overflow: hidden; 
    width:90%;
}
.sub_nav li {
    cursor:pointer;
	margin: 0 0 40px 30px;
    display: inline-block;
    background-color: black;
    color:white;
    padding:0;
    /* border:solid 2px black; */
    font-family: 'Quicksand', sans-serif;
    font-style: light;
    font-size:15px;
    width: 180px;
    height:30px;
}

.sub_nav li p{
    margin-top:2px;
    transition: all 0.5s ease-out;
}

.sub_nav #all{
    font-weight: bold;
    background-color: white;
    color:black;
}

.sub_nav .active{
    background-color: white; 
    color:black; 
    border:solid 2px black;
    box-sizing:content-box;
}

.sub_nav li:hover{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.item-list {
	overflow: hidden;
	text-align:center;
    margin:0 auto;
    position:relative;
}
.item-list li {
	display:inline-block;
	vertical-align: top;
	font-size: 0;
}

.item {
    align-items: start;
    width:285px;
    height:285px;
    margin: 20px 0 20px 80px;
    padding:0;
}



.item .image {
    position: relative;
    height: 285px;
    width:285px;
    border: solid 2px black;
    background-repeat: no-repeat;
    background-size: cover;
}

.item .image img {
	max-width: 100%;
    height:auto;
    
}

.item .hover {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: white;
	opacity: 0;
	transition: all 0.5s ease-out;
}

.item .hover:hover{
    opacity:0.9;
}


.item .item-content {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	height: 285px;
	z-index: 400;
	padding: 0 30px;
}

.item .item-content h4{
	display: block;
	color: black;
	text-transform: capitalize;
	font-family: 'Quicksand', sans-serif;
	font-weight:bold;
	font-size: 18px;
	line-height: 16px;
	padding: 0 0 20px;
	text-align: center;
	margin: 0 0 15px;
}

#portfolio-modal{
    width:100%;
    height:600vh;
    background-color: rgba(0,0,0,0.5);
    position:absolute;
    top:0;
    left:0;
    justify-content: center;
    align-items: center;
    display:none;
}

.popup_portfolio{
    width:45%;
    position: fixed;
    top: 50%;
    left: 50%;
    -webit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.popup_portfolio h3{
	padding-top:26px;
	font-weight:bold;
	color: #63666a;
	font-size: 18px;
	line-height: 18px;
	text-transform: uppercase;
}

.popup_portfolio img {
	width: 100%;
	height: auto;    
}

/* resume page css */

.resumeBody{
    font-family: 'Quicksand', sans-serif; 
    font-style:regular;   
}

.resumeContainer{
    margin:20px auto;
}

.resumeContainer h5{
    font-family: 'Roboto Slab', serif;
    font-style:regular;
}

.resume{
    margin:20px 0;
}

/* screen media */

@media only screen and (max-width: 720px) {
    .graphic-content{
        width:285px;
        height:285px;
    }

    .popup_portfolio{
        width:80%;
    }

}






